@import "bootstrap/dist/css/bootstrap.min.css";

.rating-stars {
	display: flex;
	justify-content: center;
	margin-bottom: 0.25rem;
}

.rating-stars svg {
	width: 20px;
	height: 20px;
	fill: #ffbc2d;
}

.rounded-main {
	border-radius: 3rem;
}

